@media screen and (max-width: 1640px) {
  .content {
    display: grid;
    grid-template-columns: repeat(10, 122px);
    column-gap: 16px;
  }

  .wrapper {
    display: grid;
    grid-column: 2 / 10;
  }

  .inner-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 122px);
    column-gap: 16px;
  }
}
@media screen and (max-width: 1370px) {
  .content {
    display: grid;
    grid-template-columns: repeat(8, 122px);
    column-gap: 16px;
  }

  .wrapper {
    display: grid;
    grid-column: 1 / 9;
  }

  .inner-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 122px);
    column-gap: 16px;
  }

  header ul {
    grid-column: 6 / 9;
  }
  .second-navigation .list {
    display: grid;
    grid-column: 6 / 9;
  }
}
@media screen and (max-width: 1100px) {
  .content {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    column-gap: 10px;
    justify-items: center;
  }

  .wrapper {
    display: grid;
    grid-column: 1 / 5;
  }

  .inner-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    column-gap: 10px;
  }
  header {
    height: 85px;
  }
  header .title {
    grid-column: 1 / 3;
    font-size: 30px;
  }
  header .page-logo-web {
    display: none;
  }
  header .page-logo-mobile {
    align-self: center;
    width: 96px;
    display: grid;
    grid-column: 3 / 4;
    margin-top: 10px;
    z-index: 1;
  }
  header nav {
    display: grid;
    grid-column: 4 / 5;
    justify-content: end;
  }

  .navbar {
    justify-content: flex-end;
  }
  .hero .company-name {
    display: grid;
    grid-column: 1 / 5;
    z-index: 0;
    margin-top: 40px;
  }
  .hero .company-name h1 {
    text-align: center;
    font: normal normal 600 20px/27px "Open Sans";
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    z-index: 0;
  }
  .hero .contact {
    display: grid;
    grid-column: 2/4;
    gap: 30px;
    justify-content: center;
    margin: 20px;
  }
  .hero .contact .call-number {
    grid-column: 1/4;
    grid-row: 1;
  }
  .hero .contact .location {
    grid-column: 1/4;
    grid-row: 2;
  }

  .inner-wrapper .navbar .navbar-links {
    display: none;
    position: absolute;
  }

  .second-navigation {
    display: none;
  }
  .nav-web {
    display: none;
  }

  /* Specialties */

  .specialties {
    height: 1000px;
    align-items: flex-start;
  }

  .specialties .title {
    display: grid;
    grid-column: 1 / 5;
  }
  .specialties .title h3 {
    text-align: center;
    font: italic normal bold 20px/27px "Playfair Display";
    display: flex;
    width: 233px;
    height: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .specialties .specialties-list {
    display: grid;
    grid-column: 1/5;
  }

  .specialties .specialties-list ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .specialties .specialties-list li {
    margin-bottom: 20px;
  }

  /* history */
  .history-background {
    background: url(/images/background-wave-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: static;
  }
  .history {
    height: auto;
  }
  .history .history-content {
    display: grid;
    grid-column: 1 / 5;
    width: 100%;
    margin-top: 0px;
  }
  .history-content-main {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 80px);
    grid-gap: 10px;
  }
  .history-content-main-h5 {
    display: grid;
    grid-row: 1;
    grid-column: 1/5;
  }
  .history .history-content h5 {
    font: italic normal bold 30px/40px "Playfair Display";
  }
  .history-content-main-p {
    display: grid;
    grid-row: 3;
    grid-column: 1/5;
  }
  .history p {
    font: normal normal normal 16px/28px "Open Sans";
  }
  .history .portret-web {
    display: none;
  }
  .history .portret-mobile {
    display: grid;
    grid-column: 1 / 5;
    grid-row: 2;
    align-items: center;
    justify-items: center;
    margin-bottom: 30px;
  }
  .history .read-more {
    display: grid;
    grid-column: 2 / 5;
    grid-row: 4;
    width: 100%;
  }

  .pracownia {
    display: grid;
    grid-column: 1 / 5;
    grid-row: 5;
  }
  .learn-more-1 {
    display: grid;
    grid-column: 1 / 5;
    grid-row: 6;
    justify-items: end;
  }
  .pracownia,
  .przymierze h5 {
    margin-top: 60px;
  }
  .przymierze {
    display: grid;
    grid-column: 1 / 5;
    grid-row: 7;
  }
  .learn-more-2 {
    display: grid;
    grid-column: 1 / 5;
    grid-row: 8;
    justify-items: end;
  }
  .quote-1 {
    display: grid;
    grid-column: 1 / 5;
    grid-row: 9;
    margin-top: 0px;
  }

  .history .history-content .quote-1 h5 {
    text-align: left;
    font: normal normal normal 35px/47px "Playfair Display";
    margin: 0;
  }
  .history .history-content .quote-1 p {
    text-align: end;
    font: normal normal normal 20px/33px Open Sans;
  }
  .history .history-content .quote-1 hr {
    border: 1px solid #f29d41;
    width: 250px;
  }

  /* psychoterapia */

  .psychotherapy {
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .psychotherapy-content {
    display: none;
  }
  .psychotherapy-content-mobile {
    background-image: url(/images/Group\ 34.png);
    display: grid;
    grid-column: 1 / 5;
    width: 100%;
    margin-top: 0px;
    align-items: center;
    justify-items: center;
    background-repeat: no-repeat;
    background-position: center;
  }
  .psychotherapy-content-mobile h5 {
    text-align: center;
    font: italic normal bold 30px/40px Playfair Display;
    letter-spacing: 0px;
    color: #f29d41;
    opacity: 1;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .psychotherapy-content-mobile p {
    text-align: left;
    font: normal normal normal 16px/28px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }
  .psychotherapy-content-mobile button {
    width: 273px;
    height: 39px;
    border: 3px solid var(--unnamed-color-965506);
    border: 3px solid #965506;
    border-radius: 30px;
    opacity: 1;
    margin-top: 30px;
  }
  .psychotherapy-content-mobile a {
    font: normal normal normal 20px/27px "Open Sans";
    letter-spacing: 0px;
    color: #965506;
    opacity: 1;
    text-decoration: none;
  }

  /* making an appointment */

  .visit {
    height: 850px;
    align-items: flex-start;
  }
  .visit-content {
    grid-column: 1 / 5;
    height: 800px;
    align-items: start;
  }
  .visit-content h7 {
    text-align: center;
    font: normal normal normal 25px/33px "Playfair Display";
    color: #965506;
    margin-top: 50px;
  }
  .visit-content p {
    text-align: left;
    font: normal normal normal 20px/33px "Open Sans";
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin: 10px 0 30px;
  }
  .quote-2 {
    height: 600px;
  }
  .quote-2-content {
    display: grid;
    grid-column: 1 / 5;
    height: 100%;
    align-items: center;
    margin-top: 0px;
  }
  .quote-2 .quote-2-content h7 {
    text-align: left;
    font: normal normal normal 30px/40px "Playfair Display";
    letter-spacing: 0px;
    color: #f29d41;
    opacity: 1;
    margin-bottom: 0px;
    width: 100%;
  }
  .quote-2-content p {
    text-align: end;
    font: normal normal normal 20px/33px Open Sans;
  }
  .diseases {
    height: 900px;
  }
  .diseases-content {
    display: grid;
    grid-column: 1 / 5;
    margin-top: 10px;
  }
  .diseases-list ul li {
    text-align: left;
    font: normal normal normal 14px/33px "Open Sans";
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }

  .footer-white-background {
    height: 65px;
    background-position: center;
    width: 100%;
    background: #ffffff;
    z-index: 2;
  }

  .footer {
    height: auto;
  }

  .footer-content {
    display: grid;
    grid-column: 1 / 5;
    align-items: center;
    align-content: center;
  }
  .footer-header {
    margin-top: 50px;
  }
  .footer .footer-header h8 {
    font-size: 30px;
    color: black;
    text-align: center;
  }
  .footer-content-data {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: auto;
    column-gap: 10px;
    grid-row: 2;
  }
  .footer-content-data .left {
    grid-column: 1/5;
  }
  .footer-content-data .center {
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .footer-content-data .right {
    grid-column: 1/5;
    padding-left: 0px;
    padding-top: 0px;
    border: none;
    margin-top: 20px;
  }
  .footer-content-data .right a {
    font: normal normal normal 18px/33px "Open Sans";
  }
  .bold-center {
    font: normal normal normal 16px/33px "Open Sans";
  }
  .footer-content-data ul li {
    text-align: left;
    font: normal normal normal 16px/33px "Open Sans";
  }

  .footer .contact-me {
    display: flex;
    flex-direction: column;
    flex: 100%;
  }

  .footer .contact-me .input-row {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .footer .contact-me .input-row .text-input:nth-child(2) {
    margin-left: 0px;
  }

  .send-button {
    margin-bottom: 30px;
  }
  .google-maps-web {
    display: none;
  }

  .google-maps-mobile {
    display: grid;
    grid-row: 4;
    margin-bottom: 50px;
  }

  /* *************SUBPAGE************* */

  .hero-subpage {
    background-color: #442300;
    height: 348px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-subpage video {
    height: 348px;
    position: absolute;
    text-align: center;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    filter: opacity(60%);
  }

  .hero-subpage .company-name-mobile {
    display: grid;
    grid-column: 1 / 5;
    z-index: 0;
    margin-top: 40px;
  }
  .hero-subpage .company-name-mobile h1 {
    text-align: center;
    font: normal normal 600 20px/27px "Open Sans";
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    height: 113px;
    margin-top: 20px;
  }
  .hero-subpage .contact-mobile {
    display: grid;
    grid-column: 2/4;
    gap: 30px;
    justify-content: center;
    margin: 20px;
  }
  .hero-subpage .contact-mobile .call-number {
    grid-column: 1/4;
    grid-row: 1;
    align-items: center;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 0.9;
    width: 269px;
    height: 55px;
    border: none;
  }
  .call-number a {
    text-align: center;
    font: italic normal normal 20px/33px Open Sans;
    letter-spacing: 0px;
    color: #342626;
    opacity: 1;
    text-decoration: none;
  }
  .hero-subpage .contact-mobile .location {
    grid-column: 1/4;
    grid-row: 2;
    align-items: center;
    background: #ffffff;
    border-radius: 30px;
    opacity: 0.9;
    width: 269px;
    height: 55px;
    border: none;
  }
  .hero-subpage .contact-mobile .location a {
    text-align: center;
    font: italic normal normal 20px/33px Open Sans;
    letter-spacing: 0px;
    color: #342626;
    opacity: 1;
    margin: 0;
    text-decoration: none;
  }
  .call-number:hover {
    background: rgb(162, 89, 0);
    border: rgb(207, 129, 33);
    color: #ce2222;
  }

  /* convenant */
  .covenant-subpage {
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .covenant-subpage-content {
    display: grid;
    grid-column: 1 / 5;
    width: 100%;
  }

  .covenant-subpage-header h5 {
    text-align: center;
    font: italic normal bold 60px/80px Playfair Display;
    letter-spacing: 0px;
    color: #f29d41;
    opacity: 1;
    margin-top: 80px;
    margin-bottom: 100px;
  }

  .covenant-subpage-main {
    font: normal normal normal 16px/25px Open Sans;
  }
  .covenant-subpage-image-web {
    display: none;
  }
  .covenant-subpage-image-mobile {
    display: block;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .covenant-subpage-image-mobile img {
    width: 100%;
  }

  .lab {
    height: auto;
  }
  .lab-content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 80px);
    grid-gap: 10px;
    grid-column: 1 / 5;
    width: 100%;
  }

  .lab-subpage-main {
    text-align: left;
    font: normal normal normal 16px/25px "Open Sans";
    grid-row: 2;
    grid-column: 1/5;
    padding-right: 0px;
    background-image: url(/images/Subtraction\ 2.png);
    background-position-x: left;
    background-repeat: no-repeat;
    background-position-y: center;
  }
  .lab-subpage-header {
    text-align: center;
    font: italic normal bold 60px/80px "Playfair Display";
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-row: 1;
    grid-column: 1/5;
  }
  .lab-subpage-header h5 {
    font: italic normal bold 60px/80px "Playfair Display";
    text-align: center;
  }
  .lab-subpage-image {
    display: grid;
    grid-column: 1 / 5;
    grid-row: 3;
  }
  .lab-subpage-image img {
    width: 100%;
    height: 100%;
  }
  .lab-subpage-main-second {
    width: 100%;
    text-align: left;
    font: normal normal normal 16px/25px "Open Sans";
    margin-top: 50px;
    margin-bottom: 70px;
    display: grid;
    grid-row: 4;
    grid-column: 1/5;
  }
  .lab-subpage-main-second b {
    grid-column: 1/5;
    width: 100%;
  }
  .lab-background {
    background-image: none;
    grid-column: 1/5;
  }

  .psychotherapy-subpage {
    height: auto;
  }

  .psychotherapy-subpage-content {
    display: grid;
    grid-column: 1 / 5;
    width: 100%;
  }
  .psychotherapy-subpage-content p {
    background-image: url(/images/Component\ 6\ –\ 1.png);
    background-repeat: no-repeat;
    background-position: top;
    font: normal normal normal 16px/25px "Open Sans";
    background-size: 100%;
  }
  .psychotherapy-subpage-content h5 {
    text-align: center;
    font: italic normal bold 50px/67px "Playfair Display";
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .history-content-all {
    display: grid;
    grid-column: 1 / 5;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 80px);
    grid-gap: 10px;
  }
  .history-content-aboutme {
    display: grid;
    grid-column: 1 / 5;
    grid-row: 2;

    width: 100%;
    margin-top: 0px;
    background: url(/images/half-logo.png);
    background-repeat: no-repeat;
    background-position: left;
  }

  .portret-aboutme {
    display: grid;
    grid-column: 1 / 5;
    grid-row: 1;
    align-items: center;
    justify-items: center;
    align-content: center;
  }

  .portret-aboutme img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .portret-aboutme h5 {
    font: italic normal bold 60px/80px "Playfair Display";
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .history-content-aboutme-cd {
    display: grid;
    grid-column: 1 / 5;
    width: 100%;
    margin-top: 50px;
    background: url(/images/half-logo-mirror.png);
    background-repeat: no-repeat;
    background-position: right;
  }

  .contact-subpage {
    background-position: center;
    width: 100%;
    height: 1000px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-content {
    grid-column: 1 / 5;
  }
  .contact-content h5 {
    text-align: center;
    font: italic normal bold 60px/80px "Playfair Display";
    margin-bottom: 20px;
  }
  .footer-content-data {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: auto;
    column-gap: 10px;
    grid-row: 2;
  }

  .footer-content-data .left {
    grid-column: 1/5;
  }

  .contact-subpage .contact-me {
    display: flex;
    flex-direction: column;
    flex: 100%;
  }
  .contact-subpage .contact-me .input-row {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contact-subpage .contact-me .input-row .text-input:nth-child(2) {
    margin-left: 0px;
  }

  .send-button {
    margin-bottom: 30px;
  }

  .calendar {
    background-position: center;
    width: 100%;
    height: auto;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .calendar-content {
    display: none;
  }
  .calendar-content-mobile {
    display: grid;
    grid-column: 1 / 5;
    width: 100%;
    justify-items: center;
  }
  .calendar-content-mobile h5 {
    text-align: center;
    font: italic normal bold 60px/80px "Playfair Display";
    letter-spacing: 0px;
    color: #f29d41;
    opacity: 1;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .pricelist {
    background-position: center;
    width: 100%;
    height: auto;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pricelist-content {
    display: grid;
    grid-column: 1 / 5;
    width: 100%;
    justify-items: center;
  }

  .pricelist-content ul {
    text-align: center;
    font: normal normal 600 18px/40px Open Sans;
    letter-spacing: 0px;
    color: #965506;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
  }
  .pricelist-content h5 {
    margin-bottom: 100px;
    text-align: center;
    font: italic normal bold 60px/80px "Playfair Display";
    letter-spacing: 0px;
    color: #f29d41;
    opacity: 1;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #menuToggle {
    display: block;
    position: relative;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menu a:hover {
    color: #f29d41;
  }

  #menuToggle input {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10px;
    left: -15px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
 * Just a quick hamburger
 */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #000000;
    border-radius: 3px;

    z-index: 100;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  /*
 * But let's hide the middle one.
 */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
 * Ohyeah and the last one should go the other direction
 */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
 * Make this absolute positioned
 * at the top left of the screen
 */
  #menu {
    position: absolute;
    width: 350px;
    margin: -100px 0 0 -315px;
    padding: 50px;
    padding-top: 125px;
    background-position: center;
    background: #eaddcd;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    opacity: 100%;
    transform-origin: 0% 0%;
    transform: translate(0, -100%);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  /*
 * And let's slide it in from the left
 */
  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
