/* * {
  border: red solid 1px;
} */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}
.first-nav {
  position: relative;
  top: 0;
  left: 0;
  height: 220px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;
}
.header-container {
  width: 1088px;
  display: flex;
  gap: 13px;
  flex-direction: row;
  position: absolute;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

/* .header-container>*:first-child {
    justify-content:flex-start;
} */
#title a {
  padding: 0;
  font-size: 3rem;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-container #page-logo a {
  justify-items: center;
}

.first-nav ul {
  display: flex;
}

.first-nav li {
  margin-left: 20px;
}

.first-nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
}

.second-nav {
  background-image: url(/images/background-header.png);
  height: 348px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  position: relative;
  top: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.invisible-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    opacity: 50%;
    padding: 30px 100%;
    margin: 0 ;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.second-nav-container {
    width: 1088px;
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
  }

.second-nav ul {
  display: flex;
  
}

.second-nav li {
  margin-left: 20px;
}

.second-nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
}

