@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --brand-grey-text: #707070;
  --brand-orange-text: #f29d41;
  --brand-dark-orange-text: #965506;
  --brand-orange-bg-light: #eaddcd;
}

* {
  border: red solid 1px;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  color: #707070;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: grid;
  grid-template-columns: repeat(12, 122px);
  column-gap: 16px;
}

.wrapper {
  display: grid;
  grid-column: 3 / 11;
}

.inner-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 122px);
  column-gap: 16px;
}

.navigation {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 100%;
}

header {
  height: 220px;
  align-items: center;
  background-color: white;
  font-family: "Playfair Display", serif;
}
ul {
  list-style: none;
}
header a {
  text-decoration: none;
  color: unset;
}

header a:hover {
  color: var(--brand-orange-text);
}

/* Header items */
header .title {
  display: grid;
  grid-column: 1 / 3;
  font-size: 50px;
  color: black;
}

header .page-logo-web {
  align-self: center;
  width: 257px;
  display: grid;
  grid-column: 4 / 5;
  margin-top: 10px;
  z-index: 2;
}
header .page-logo-mobile {
  display: none;
}

header nav {
  display: grid;
  grid-column: 6 / 8;
}

header ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-column: 8 / 9;
}

header ul li {
  color: #707070;
  font-size: 25px;
  line-height: 33px;
  list-style: none;
  margin-right: 20px;
  width: max-content;
}

header ul li:last-of-type {
  margin-right: 0px;
}

/* Hero */
.hero {
  background-color: #442300;
  height: 348px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero video {
  height: 348px;
  position: absolute;
  text-align: center;
  width: 100%;
  object-fit: cover;
  z-index: 0;
  filter: opacity(60%);
}
.backa {
  background-color: #442300;
}
.second-navigation {
  position: absolute;
  top: 220px;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Playfair Display", serif;
  z-index: 1;
}

.second-navigation a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.second-navigation a:hover {
  color: var(--brand-grey-text);
}

.second-navigation .list {
  display: grid;
  grid-column: 6 / 9;
}

.second-navigation ul {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.second-navigation ul li {
  color: #707070;
  font-size: 25px;
  line-height: 33px;
  list-style: none;
  margin-right: 20px;
  width: max-content;
}
.hero .company-name {
  display: grid;
  grid-column: 1 / 9;
  z-index: 1;
}
.hero .company-name h1 {
  align-items: center;
  color: white;
  text-align: center;
  font: normal normal 600 35px/33px "Open Sans";
  letter-spacing: 0px;
  opacity: 1;
  height: 113px;
  margin-top: 20px;
}
.hero .contact {
  display: grid;
  grid-column: 3/7;
  gap: 60px;
  justify-content: center;
  margin: 20px;
}
.hero .contact .call-number {
  display: grid;
  grid-column: 1/3;
  align-items: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 30px;
  opacity: 0.9;
  width: 269px;
  height: 55px;
  border: none;
}
.call-number a {
  text-align: center;
  font: italic normal normal 20px/33px Open Sans;
  letter-spacing: 0px;
  color: #342626;
  opacity: 1;
  text-decoration: none;
}
.hero .contact .location {
  display: grid;
  grid-column: 3/5;
  align-items: center;
  background: #ffffff;
  border-radius: 30px;
  opacity: 0.9;
  width: 269px;
  height: 55px;
  border: none;
}
.hero .contact .location a {
  text-align: center;
  font: italic normal normal 20px/33px Open Sans;
  letter-spacing: 0px;
  color: #342626;
  opacity: 1;
  margin: 0;
  text-decoration: none;
}
.call-number:hover {
  background: rgb(162, 89, 0);
  border: rgb(207, 129, 33);
  color: #ce2222;
}

/* Specialties */
.specialties {
  background-color: white;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.specialties .title {
  display: grid;
  grid-column: 1 / 9;
  width: 100%;
  justify-content: center;
}
.specialties .title h3 {
  text-align: center;
  font: italic normal bold 30px/40px Playfair Display;
  letter-spacing: 0px;
  color: #f29d41;
  opacity: 1;
  display: flex;
  width: 753px;
  height: 80px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.specialties .specialties-list {
  display: grid;
  grid-column: 1/9;
}

.specialties .specialties-list ul {
  display: inline-flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
  width: 1088px;
  /* zapytać adriana */
}
.specialties .specialties-list ul li {
  text-align: center;
  font: italic normal medium 25px/33px "Playfair Display";
  letter-spacing: 0px;
  color: #f29d41;
  opacity: 1;
}

.specialties .specialties-list ul li h4 {
  margin-top: 30px;
  text-align: center;
  font: italic normal medium 25px/33px Playfair Display;
  letter-spacing: 0px;
  color: #f29d41;
  opacity: 1;
}

/* history */
.history-background {
  background: url(/images/Path\ 123.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: static;
}
.history {
  height: 1600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.history .history-content {
  display: grid;
  grid-column: 1 / 6;
  width: 100%;
  margin-top: 150px;
}
.history .history-content h5 {
  text-align: left;
  font: italic normal bold 60px/80px "Playfair Display";
  letter-spacing: 0px;
  color: #f29d41;
  opacity: 1;
  margin-bottom: 30px;
}
.history p {
  text-align: left;
  font: normal normal normal 20px/33px "Open Sans";
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
.history .portret {
  display: grid;
  grid-column: 6 / 9;
  grid-row: 1;
  align-items: flex-end;
  justify-items: stretch;
}
.history .read-more {
  display: grid;
  grid-column: 4 / 6;
  width: 100%;
}
.history button {
  border: 3px solid #965506;
  border-radius: 30px;
  opacity: 1;
  width: 214px;
  height: 39px;
}
.history a {
  font: normal normal normal 20px/27px "Open Sans";
  letter-spacing: 0px;
  color: #965506;
  opacity: 1;
  text-decoration: none;
}
.pracownia {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 3/5;
  margin-top: 50px;
}
.pracownia button {
  width: 273px;
  height: 39px;
  border: 3px solid var(--unnamed-color-965506);
  border: 3px solid #965506;
  border-radius: 30px;
  opacity: 1;
  color: white;
}
.przymierze {
  display: grid;
  grid-column: 5 / 9;
  grid-row: 3/5;
  margin-top: 50px;
}

.przymierze button {
  width: 273px;
  height: 39px;
  border: 3px solid var(--unnamed-color-965506);
  border: 3px solid #965506;
  border-radius: 30px;
  opacity: 1;
}

.quote-1 {
  display: grid;
  grid-column: 1 / 9;
  grid-row: 6/8;
  margin-top: 100px;
}
.quote-1 h5 {
  text-align: center;
  font: normal normal normal 70px/94px "Playfair Display";
  letter-spacing: 0px;
  color: #f29d41;
  opacity: 1;
}
.quote-1 p {
  text-align: center;
  font: normal normal normal 30px/33px Open Sans;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

/* psychoterapia */
.psychotherapy {
  height: 1300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.psychotherapy-content {
  display: grid;
  grid-column: 1 / 9;
  grid-row: 6/8;
  margin-top: 100px;
  background-image: url(/images/background_logo.png);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: top;
}
.psychotherapy-content h5 {
  text-align: center;
  font: italic normal bold 60px/80px "Playfair Display";
  letter-spacing: 0px;
  color: #f29d41;
  opacity: 1;
  margin-bottom: 462px;
}
.psychotherapy-content p {
  text-align: left;
  font: normal normal normal 20px/33px "Open Sans";
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  margin-top: 10px;
}
.psychotherapy-content button {
  width: 273px;
  height: 39px;
  border: 3px solid var(--unnamed-color-965506);
  border: 3px solid #965506;
  border-radius: 30px;
  opacity: 1;
}
.psychotherapy-content a {
  font: normal normal normal 20px/27px "Open Sans";
  letter-spacing: 0px;
  color: #965506;
  opacity: 1;
  text-decoration: none;
}

/* making an appointment */
.visit {
  background-position: center;
  width: 100%;
  height: 1000px;
  background-color: #ffffff;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visit-content {
  display: grid;
  grid-column: 1 / 9;
  grid-row: 6/8;
  z-index: 3;
  width: 100%;
  height: 720px;
  background-color: #f9f5f0;
  opacity: 1;
}

.visit-content li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visit-content h6 {
  text-align: center;
  font: normal normal normal 30px/40px "Playfair Display";
  letter-spacing: 0px;
  color: #f29d41;
  opacity: 1;
  margin-top: 15px;
}
.visit-content p {
  text-align: left;
  font: normal normal normal 20px/33px "Open Sans";
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  margin: 30px;
}
.visit-content button {
  width: 273px;
  height: 39px;
  border: 3px solid var(--unnamed-color-965506);
  border: 3px solid #965506;
  border-radius: 30px;
  opacity: 1;
}
.visit-content a {
  font: normal normal normal 20px/27px "Open Sans";
  letter-spacing: 0px;
  color: #965506;
  opacity: 1;
  text-decoration: none;
}
.visit-content ul {
  padding: 0;
}
/* quote 2 */

.quote-2 {
  height: 1100px;
  background-position: center;
  width: 100%;
  height: 583px;
  background: #eaddcd 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.quote-2-content {
  display: grid;
  grid-column: 1 / 9;
  grid-row: 6/8;
  margin-top: 100px;
  z-index: 3;
  justify-content: center;
}

.quote-2 .quote-2-content h7 {
  text-align: center;
  font: normal normal normal 30px/40px "Playfair Display";
  letter-spacing: 0px;
  color: #f29d41;
  opacity: 1;
  margin-bottom: 50px;
  width: 1004px;
}
.quote-2-content p {
  text-align: center;
  font: normal normal normal 30px/33px "Open Sans";
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.diseases {
  background-position: center;
  width: 100%;
  height: 583px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.diseases-content {
  display: grid;
  grid-column: 1 / 9;
  grid-row: 6/8;
  margin-top: 80px;
}

.diseases-content h7 {
  text-align: center;
  font: italic normal bold 30px/40px "Playfair Display";
  letter-spacing: 0px;
  color: #f29d41;
  opacity: 1;
  margin: 0 0 60px 0;
}
.diseases-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.diseases-list ul {
  margin: 0;
  padding: 0;
}
.diseases-list ul li {
  text-align: left;
  font: normal normal normal 20px/33px "Open Sans";
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
.footer-white-background {
  height: 65px;
  background-position: center;
  width: 100%;
  background: #ffffff;
  z-index: 2;
}
.footer-logo {
  align-self: center;
  justify-items: center;
  display: grid;
  grid-column: 4 / 6;
}
.footer {
  height: auto;
  background-position: center;
  width: 100%;
  background: #eaddcd;
  opacity: 1;
  display: flex;
  justify-content: center;
}
.footer .company-name {
  width: 100%;
  margin-top: 22px;
  margin-bottom: 27px;
  font-size: 50px;
  color: black;
}
.footer-content {
  display: grid;
  grid-column: 1 / 9;
  align-items: center;
}
.footer-content-data {
  display: grid;
  grid-template-columns: repeat(8, 122px);
  column-gap: 16px;
}

.footer-content-data .left {
  grid-column: 1/4;
}
.footer-content-data .center {
  grid-column: 4/6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-content-data .right {
  grid-column: 7/9;
  border-left: 1px solid #707070;
  padding-left: 24px;
  padding-top: 24px;
}
.footer-content-data .right a {
  text-decoration: none;
  text-align: left;
  font: normal normal normal 20px/33px "Open Sans";
  letter-spacing: 0px;
  color: #965506;
}
.footer-content-data .right a:hover {
  color: var(--brand-orange-text);
}

.footer-content-data ul {
  margin: 0;
  padding: 0;
}
.footer-content-data ul li {
  text-align: left;
  font: normal normal normal 20px/33px "Open Sans";
  letter-spacing: 0px;
  color: #965506;
}
.bold-center {
  font: normal normal normal 25px/33px "Open Sans";
  letter-spacing: 0px;
  color: #965506;
  opacity: 1;
  text-align: center;
}
.bold-left {
  font: normal normal normal 25px/33px "Open Sans";
  letter-spacing: 0px;
  color: #965506;
  opacity: 1;
  text-align: left;
}
.footer-content-data .center {
  align-items: center;
}

.footer .contact-me {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.footer .contact-me .input-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer .contact-me .input-row .text-input:nth-child(2) {
  margin-left: 34px;
}

.footer .contact-me .text-input,
.text-area-input {
  display: flex;
  flex-direction: column;
}
.footer .contact-me .text-input input {
  border: none;
}
.footer .contact-me .text-area-input {
  width: 100%;
  min-height: 143px;
}
.footer .contact-me .text-area-input textarea {
  resize: none;
  width: 100%;
  min-height: 143px;
  border: none;
}
.footer .contact-me h4 {
  text-align: left;
  font: normal normal bold 20px/35px "Open Sans";
  letter-spacing: 0px;
  color: #965506;
  opacity: 1;
}
.footer .contact-me .text-input {
  text-align: left;
  font: normal normal normal 18px/35px "Open Sans";
  letter-spacing: 0px;
  color: #965506;
  opacity: 1;
}
.footer .contact-me .input-row {
  text-align: left;
  font: normal normal normal 18px/35px "Open Sans";
  letter-spacing: 0px;
  color: #965506;
  opacity: 1;
}

.send-button {
  border-radius: 50px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #ffffff;
  opacity: 1;
  width: 171px;
  height: 54px;
  align-self: flex-end;
  text-align: center;
  font: normal normal 600 20px/27px Open Sans;
  letter-spacing: 0px;
  color: #965506;
  text-transform: uppercase;
  opacity: 1;
}
.send-button:hover {
  background: rgb(208, 179, 144);
  border: rgb(208, 179, 144);
  color: #ffffff;
}
input:focus {
  outline: none !important;
  border-color: #965506;
  box-shadow: 0 0 10px #e5b171;
}
textarea:focus {
  outline: none !important;
  border-color: #965506;
  box-shadow: 0 0 10px #e5b171;
}

.google-maps {
  margin-top: 50px;
  margin-bottom: 100px;
}
